<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas Laborales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Prácticas Pre Profesionales en Ingeniería de Sistemas</h1>
        <p>Encuentra el trabajo que estás buscando</p>
    </header>

    <main>
        <section class="job-listing">
            {% for job in job_listings %}
            <article class="job-item">
                <h2>{{ job['titulo'] }}</h2>
                <p>Empresa: {{ job['empresa'] }}</p>
                <p>Ubicación: {{ job['ubicacion'] }}</p>
                <p>Requerimientos: {{ job['requerimientos'] }}</p>
                <a href="{{ job['enlace'] }}" target="_blank">
                    <button>Aplicar</button>
                </a>

            </article>
            {% endfor %}
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Practicas Pre Profesionales - Ingeniería de Sistemas</p>
    </footer>
</body>
</html>

